doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Bookmarklet Generator')
    link(rel='icon' type='image/svg+xml' sizes='any' href='assets/favicon.svg')
    style
      | @import "./styles/index.styl"
    title Bookmarklet Generator
  body
    h1 Bookmarklet Generator
    main
      input#input-name(placeholder='Enter Name...')
      textarea#input(
        rows='3'
        placeholder='Enter JavaScript...'
        spellcheck='false'
      )
      .clear-container
        button#clear × Clear
      #result.opaque
        a(href='#')
          span Bookmark Me
        #info
          svg(
            fill='none'
            stroke='#0070ff'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            viewBox='0 0 100 100'
            xmlns='http://www.w3.org/2000/svg'
          )
            path(d='m24 93c-0.9-28 15-52 42-79')
            path(d='m53 16c7-2.6 14-6 20-9-4 9-6 17-5 21')
          span Drag &amp; drop the bookmarklet into your bookmark bar.
      .bottom
        a#share.opaque(href='#') Share Link
    script.
      require("./scripts/index.js");
